#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=cn --xlayouts='cn'
# System language
lang zh_CN.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=centos

# Root password
rootpw --iscrypted $6$S9uUQFe72y8XR.Rm$P1MR.M0pwWkeGrgyMIjsTSQYoYKVaC.qgnwvYR66g/L61HEK552nf6nRJCn/JE9yQpIc0FD/HuHJMorBEm3N70
# System services
services --enabled="chronyd"
# System timezone
timezone Asia/Shanghai --isUtc
user --groups=wheel --name=wzq --password=$6$KAFI6o7.bjV0uq88$jfAGMF.6cv4fVss1xJ//vMw5brd6isiq3wzkjTuSh0eUKJaBSTH/N37M85UqGm81eGm8ttHrPIOIzm4uNwiby0 --iscrypted --gecos="wzq"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part /boot --fstype="xfs" --ondisk=sda --size=1024
part pv.157 --fstype="lvmpv" --ondisk=sda --size=80895
volgroup centos --pesize=4096 pv.157
logvol swap  --fstype="swap" --size=2048 --name=swap --vgname=centos
logvol /  --fstype="xfs" --grow --maxsize=51200 --size=1024 --name=root --vgname=centos
logvol /home  --fstype="xfs" --grow --size=500 --name=home --vgname=centos

%packages
@^developer-workstation-environment
@backup-client
@base
@core
@debugging
@desktop-debugging
@development
@dial-up
@directory-client
@fonts
@ftp-server
@gnome-apps
@gnome-desktop
@guest-agents
@guest-desktop-agents
@input-methods
@internet-applications
@internet-browser
@java-platform
@multimedia
@network-file-system-client
@office-suite
@performance
@perl-runtime
@print-client
@ruby-runtime
@security-tools
@system-admin-tools
@virtualization-client
@virtualization-hypervisor
@virtualization-tools
@web-server
@x11
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
