#platform=x86, AMD64, 或 Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
keyboard 'us'
# Root password
rootpw --iscrypted $1$OvkEyVWn$up04FwFPjJy9z4lfS77Yo/
# System language
lang zh_CN
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical or text install
text
firstboot --disable
# SELinux configuration
selinux --enforcing


# Firewall configuration
firewall --disabled
# Reboot after installation
reboot
# System timezone
timezone Asia/Shanghai
# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part /boot --asprimary --fstype="ext4" --ondisk=sda --size=1000
part / --fstype="xfs" --ondisk=sda --size=50000
part /home --fstype="xfs" --size=100000


%packages
@^developer-workstation-environment
@backup-client
@base
@core
@debugging
@desktop-debugging
@development
@dial-up
@directory-client
@fonts
@gnome-apps
@gnome-desktop
@guest-agents
@guest-desktop-agents
@input-methods
@internet-browser
@x11
chrony
kexec-tools

%end

%post --interpreter=/bin/bash
echo "hello world"
sleep 120
touch /home/hello.txt
echo "hello world"  > /home/hello.txt
%end
